html {
  -ms-text-size-adjust    : 100%;
  -webkit-text-size-adjust: 100%;
  font-size               : 100%;
}

body {
  background-color: black;
  color           : white;
  font-family     : $fontsecondary;
  font-size       : 16px;
}

a {
  color          : white;
  transition: 0.3s;

  &:hover {
    color:$colorsecon;
  text-decoration: none;
  }
}

.hidden {
    display: none!important
}

::selection {
    background: #b95036;
    text-shadow: none
}

.title--base {
  font-family: $fontprimary;
  font-size  : 46px;
}

.home--link {
  font-size: 20px;

  a {
   border-bottom: 1px solid $white;

    &:hover {
       border-bottom: 1px solid $colorsecon;
       opacity: 0.5;
      text-decoration: none;
    }
  }
}

p {
  line-height: 1.9;
}

.d-flex {
  display: flex;
}

.fullscreen-page {
  height          : 100%;
  width           : 100%;
  background-color: $dark;
  position        : fixed;
  left            : 0;
  top             : 0;
  opacity         : 0;
  transition      : 0.25s;
  z-index         : -1111111;
}

.fullscreen-page.open {
  opacity : 1;
  z-index : 999999999;
  overflow: scroll;
}

.wcmm--wrap.open {
  opacity: 0;
}

.wcmm--wrap {
  opacity: 1;
}

.menu--action {
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
}

.title--home {
  font-size  : 26px;
  font-family: $fontprimary;
}



.menu--language {
  font-size: 14px;
  font-family: $fontprimary;
  a {
    text-decoration: none;
  }
.active {

  }
}

.spinner-color-white {
  color: $white !important;
}

.machine--control {
  background-image: linear-gradient(-242deg, #000000 0%, #111111 98%);
  height: 50px;
  border-top: 1px solid #303030;


}

.home--text {
  p {
    font-size: 14px;
  }
}


.selection--item {
  img {
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  padding: 0 20px;
  a {
      img {
      opacity: 0.7;
      transition: 0.3s !important;
      &:hover {
        opacity: 1;
        }
      }
  display: inline-block;
  color: rgb(27, 6, 6);
    padding-bottom: .25em;
    text-decoration: none;
    transition: 0s !important;
      &:hover {
      opacity: 1;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ffffff' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
      background-position: bottom;
      background-size: 30px;
      background-repeat: repeat-x;
      text-decoration: none;
      color: rgb(255, 255, 255);
      transition: 0s !important;
    }
  }
  }


a.machine--control__btn {
  font-size: 12px;
  border: 1px solid #ababab;
  padding: 5px 10px;
  cursor: pointer;
  &:hover{
     border: 1px solid $white; 
     color: white;
     background-color: black;
  }
}


a.machine--control__btn-down {
 font-size: 12px;
}

.machine--control__select {
  font-family: $fontprimary;
}

.machine--control__item {
  font-size: 12px;
}

.home--atrib {
  p {
 font-size: 10px;
  }
 
  a {
    // color: purple;
  }
}

.machine--control__select {
  .selection--item {
    img {
      // width: 80%;
    }
    a {
      &:hover {
      background-size: 20px;
      }
    }
  }
}


.point {
  width: 10px;
  height: 10px;
  background-color: black;
  position: absolute;
}