html {
  -ms-text-size-adjust    : 100%;
  -webkit-text-size-adjust: 100%;
  font-size               : 100%;
}

body {
  background-color: black;
  color           : white;
  font-family     : $fontsecondary;
  font-size       : 16px;
}

a {
  color          : white;
  transition: 0.3s;

  &:hover {
    color:$colorsecon;
  
  }
}

.hidden {
    display: none!important
}

::selection {
    background: #b95036;
    text-shadow: none
}

.title--base {
  font-family: $fontprimary;
  font-size  : 46px;
}

.home--link {
  font-size: 20px;

  a {
   border-bottom: 1px solid $white;

    &:hover {
       border-bottom: 1px solid $colorsecon;
       opacity: 0.5;
      text-decoration: none;
    }
  }
}

p {
  line-height: 1.9;
}

.d-flex {
  display: flex;
}

.fullscreen-page {
  height          : 100%;
  width           : 100%;
  background-color: $dark;
  position        : fixed;
  left            : 0;
  top             : 0;
  opacity         : 0;
  transition      : 0.25s;
  z-index         : -1111111;
}

.fullscreen-page.open {
  opacity : 1;
  z-index : 999999999;
  overflow: scroll;
}

.section--article.open {
  opacity: 0;
}

.section--article {
  opacity: 1;
}

.menu--action {
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  :hover {

    opacity: 0.5;
  }
}

.title--home {
  font-size  : 26px;
  font-family: $fontprimary;
}



.menu--language {
  font-size: 14px;
  font-family: $fontprimary;
  a {
    text-decoration: none;
  }
.active {

  }
}

.spinner-color-white {
  color: $white !important;
}

.machine--control {
  background-image: linear-gradient(-242deg, #000000 0%, #111111 98%);
  height: 50px;
  border-top: 1px solid #303030;
}

.machine--control__btn {
  font-size: 12px;
  border: 1px solid #ababab;
  padding: 5px 10px;
  cursor: pointer;
  :hover{
     border: 1px solid $white; 
     background-color: red;
  }
}

.machine--control__select {
  font-family: $fontprimary;
}

.machine--control__item {
  font-size: 12px;
}


