// FONTS
$fontprimary     : 'Quicksand', sans-serif;
$fontsecondary   : 'Open Sans', sans-serif; // COLORS
$dark            : #181818;
$white           : #FFF; 
$colorsecon: #FF4747;

// SPACING
$line-height-base: 1.3em;